@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .btn {
    @apply px-4 py-1 rounded select-none transition-colors duration-200 font-semibold
         focus:ring-2 focus:ring-offset-2 focus:outline-none
         disabled:opacity-50 disabled:pointer-events-none;

    @apply bg-red-600 hover:bg-red-800 focus:ring-red-600;
  }

  .btn--purple {
    @apply bg-purple-600 hover:bg-purple-800 focus:ring-purple-600;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 50vh;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 100vh;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
